<h1 class="text-center text-danger"><==!ngFor works!==></h1>
<h2 class="text-center text-danger"><==!ngFor will work to render a list of html element!==></h2>

<div class="col-md-12 text-center" *ngFor="let color of colors; index as i">
    //index as i
    <h2>  {{i + " " + color}}</h2>

</div>

//first as f
<div class="col-md-12 text-center" *ngFor="let color of colors; first as f">
    <h2 class="text-primary"> {{f}} {{color}}</h2>
</div>
//last as l
<div class="col-md-12 text-center" *ngFor="let color of colors; last as l">
    <h2 class="text-secondary"> {{l}} {{color}}</h2>
</div>

//odd as o
<div class="col-md-12 text-center" *ngFor="let color of colors; odd as o">
    <h2 class="text-success"> {{o}} {{color}}</h2>
</div>

//even as p
<div class="col-md-12 text-center" *ngFor="let color of colors; even as p">
    <h2 class="text-danger"> {{p}} {{color}}</h2>
</div>



